web/xml/partie1/kub_jeux.dtd

<!ELEMENT kubenbois (editeur*)>
<!ELEMENT editeur (nom, nationnalite, jeu+)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT nationnalite (#PCDATA)>
<!ELEMENT jeu (titre, annee, age_mini, nb_joueur, duree)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT nb_joueur EMPTY>
<!ATTLIST nb_joueur min CDATA #REQUIRED
					max CDATA #REQUIRED>
