web/xml/partie1/kubenbois.dtd

<!ELEMENT kubenbois (pays*)>
   <!ELEMENT pays (nom_pays,agence+)>
   
      <!ELEMENT nom_pays (#PCDATA) >
      <!ELEMENT agence (responsable,ville)>
      
         <!ELEMENT responsable (nom,prenom)>
         
            <!ELEMENT nom (#PCDATA)>
            <!ELEMENT prenom (#PCDATA)>
            
         <!ELEMENT ville (#PCDATA)>
